*{
    margin: 0;
    padding: 0;

}

.slider{
    width:1366px;
    height:400px;
    float: left;
    overflow: hidden;
}

.slider figure {
    width: 400%;
    position: relative;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;

}
@keyframes slidy {
    0% {
        left:  0%;
    }
    15% {
        left:  -100%;
    }
    30% {
        left: -200%;
    }
    45% {
        left: -300%;
    }
    55% {
        left: -200%;
    }
    70%{
        left: -100;
    }
    100% {
        left: 0%;
    }

}
.page{
    width:25%;
    height:400px;
    float: left;
    background-color: #95e1d3;
    
}
p{
    color: white;
    font-size: 30px;
    font-weight: bold;
}